@page "/products"
@using RandomApp.ProductManagement.Application.DataTransferObjects
@using RandomApp.Web.Client
@using RandomApp.Web.Client.Services
@using Microsoft.AspNetCore.Components.Web
@inject IProductDisplayService ProductDisplayService
@inject NavigationManager NavigationManager

<PageTitle>Products</PageTitle>
<h3>Products List</h3>

@if (productDtos == null)
{
    <p>Loading...</p>
}
else
{
    <ol class="list-group list-group-numbered">
        @foreach (var productDto in productDtos)
        {
            <li class="list-group-item">
                    <div class="d-flex flex-column" @onclick="@(() => NavigateToDetails(productDto.Id))" style="cursor: pointer;">
                        <h5 class="mb-1">@productDto.Title</h5>
                        <p class="mt-2 mb-0 text-muted">@productDto.Description</p>
                    </div>
            </li>
        }
    </ol>
}


@code {
    private IEnumerable<ProductDto> productDtos;

    protected override async Task OnInitializedAsync()
    {
        productDtos = await ProductDisplayService.GetProductsAsync();
    }

    private void NavigateToDetails(int id)
    {
        NavigationManager.NavigateTo($"/product/{id}");
    }
}